body {
  font-family: sans-serif;
  background: #fdf6e3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 100vh;
  margin: 0 auto;
}

.container {
  text-align: center;
}

.title {
    font-size: 5vmin;
}

.slot-machine {
  display: flex;
  justify-content: center;
  margin: 5vmin 0 15vmin;
  position: relative;
}

.slot-machine::before {
  content: 'し';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-58%, -48%) scaleX(1.4);
  font-size: 85vmin; 
  color: #000;
  pointer-events: none;
  user-select: none;
  font-family: sans-serif;
  font-weight: lighter;
}


.slot {
  font-size: 15vmin;
  width: 15vmin;
  height: 15vmin;
  line-height: 15vmin;
}

.buttons button {
  margin: 0 20px 0;
  padding: 20px 20px;
  font-size: min(3vw, 3vh);
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}